@{
    ViewBag.Title = "В доступе отказано";
}
<div class="container">
    <p class="text-danger">Отказано в доступе!</p>
    <a asp-controller="Account" asp-action="Register">Зарегистрироваться</a>
    или
    <a asp-controller="Account" asp-action="Login">войти</a>
</div>