@{
	ViewData["Title"] = "Главная";
}
<partial name="Partial/_Slider" />

<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<partial name="Partial/_Left-sidebar" />
			</div>
				
			<div class="col-sm-9 padding-right">
				<partial name="Partial/_features_items" model="@ViewBag.Products" />
					
				<partial name="Partial/_category-tab" />
					
				<partial name="Partial/_recommended_items" />
			</div>
		</div>
	</div>
</section>