<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <partial name="Partial/_Styles" />
</head>

<body>
    <div id="wrapper">
        <partial name="Partial/_nav-top" />

        <partial name="Partial/_nav-side" />

        <div id="page-wrapper">
            <div id="page-inner">
                @RenderBody()
            </div><!-- /. PAGE INNER  -->
        </div><!-- /. PAGE WRAPPER  -->
    </div>

    <div class="footer">@* не с руки полторы строчки выделять в частичное представление *@
        <div class="row">
            <div class="col-lg-12" >&copy;  2014 yourdomain.com | Design by: <a href="http://binarytheme.com" style="color:#fff;" target="_blank">www.binarytheme.com</a></div>
        </div>
    </div><!-- /. WRAPPER  -->

    <!-- SCRIPTS - AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <partial name="Partial/Scripts" />

</body>
</html>